<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="~/img/2.jpg" />
            <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                    <h2>This is Bulgaria</h2>
                    <p>Bulgaria is much more than a beach destination. It is dotted with enchanting ruins, mighty castles and ancient monasteries (there are over 100), and it's this rich past that makes it such a fascinating country to visit. </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid"
                 src="~/img/3.jpg" />
            <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                    <h2>This is Bulgaria</h2>
                    <p>Some parts of Bulgaria have retained their history so well, you'll swear you've stepped back an age</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/img/1.jpg" />"
            <div class="carousel-caption d-none d-md-block">
                <div class="banner-text">
                    <h2>This is Bulgaria</h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>

