@using EasyTravel.Common
@model EasyTravel.Web.ViewModels.AllProperties.PropertiesViewModel
@{
    this.ViewData["Title"] = "Properties by category";
}

<div class="row">

    <partial name="_PartialPropertiesInListViewModel" model="@Model" />

</div>