@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<div class="contact">
    <div class="cta bg-primary text-center text-white">
        <h1 class="text-white">Contact Us</h1>
        <p class="lead">Let us know what you think. We will get back to you within a day.</p>
    </div>
    <div class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card no-hover">
                        <div class="card-body p-5">
                            <form>
                                <div class="form-group">
                                    <label for="email1">Your name</label>
                                    <input type="email" class="form-control form-control-lg" id="email1" aria-describedby="emailHelp" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label for="email1">Your email address</label>
                                    <input type="email" class="form-control form-control-lg" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="email1">Your message</label>
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                                <div class="text-center mt-5">
                                    <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="mapdiv" style="width: 300px; height: 300px;"></div>

@section Scripts {
    <script>
        document.getElementsByTagName("h1")[0].remove();
    </script>

    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script>
        map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());
        var lonLat = new OpenLayers.LonLat(-0.1279688, 51.5077286)
            .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );
        var zoom = 14;
        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);
        markers.addMarker(new OpenLayers.Marker(lonLat));
        map.setCenter(lonLat, zoom);
    </script>
}
