@using EasyTravel.Common
@model EasyTravel.Web.ViewModels.AllProperties.PropertiesViewModel
@{
    this.ViewData["Title"] = "Properties by city";
}

@if (this.Model.Properties.Count() == 0)
{
    <div class="text-center">
        <h3>Results Not Found</h3>
    </div>

    <img src="~/myImg/img.png" class="img-fluid" alt="IMAGES" />
}
else
{

    <div class="row">

        <partial name="_PartialPropertiesInListViewModel" model="@Model" />

    </div>
}