@using EasyTravel.Common

<footer class="text-center text-white bg-primary">

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        <br>
                        <i class="fas fa-gem me-3"></i>About Us
                    </h6>
                    <p>
                        Welcome to EasyTravel, your number one source for booking. We're dedicated to providing you the very best of travel, with an emphasis on details
                        We hope you enjoy our application as much as we enjoy offering them to you.
                    </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        <br>
                        <i class="fas fa-comment"></i>
                    </h6>
                    <p>

                        If you have any questions or comments, please don't hesitate to contact us.

                    </p>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase text-white fw-bold mb-4">
                        <br>
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Sofia, BG 1000</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        EasyTravel@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-ripple-color="light">

                        <img src="~/img/1.jpg" 
                        class="w-100" />
                        <a href="#!">
                            <div class="mask"
                                 style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-ripple-color="light">
                        <img src="~/img/2.jpg" 
                        class="w-100" />
                        <a href="#!">
                            <div class="mask"
                                 style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-ripple-color="light">
                        <img src="~/img/3.jpg" 
                        class="w-100" />
                        <a href="#!">
                            <div class="mask"
                                 style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-ripple-color="light">
                        <img src="~/img/SCAN-Travel-1-1030x579.jpg" 
                        class="w-100" />
                        <a href="#!">
                            <div class="mask"
                                 style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-ripple-color="light">

                        <img src="~/img/00051912.jpg" 
                        class="w-100" />
                        <a href="#!">
                            <div class="mask"
                                 style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-ripple-color="light">
                        <img src="~/img/6.jpg" 
                        class="w-100" />
                        <a href="#!">
                            <div class="mask"
                                 style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Images -->
    </div>
    <!-- Grid container -->
    <div class="container pt-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-link btn-floating btn-lg text-white m-1"
               href="https://www.facebook.com/nia.chavdarova/"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-facebook-f"></i>
            </a>


            <!-- Google -->
            <a class="btn btn-link btn-floating btn-lg text-white m-1"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a class="btn btn-link btn-floating btn-lg text-white m-1"
               href="https://www.instagram.com/niachavdarovaaa/"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- Linkedin -->
            <a class="btn btn-link btn-floating btn-lg text-white m-1"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-linkedin"></i>
            </a>
            <!-- Github -->
            <a class="btn btn-link btn-floating btn-lg text-white m-1"
               href="https://github.com/AntoniaChavdarova"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->

    <div class="container">
        &copy; @DateTime.Now.Year - @GlobalConstants.SystemName
    </div>
    <!-- Copyright -->
</footer>
